Repository 0xPolygonHermez/zkevm-rom, changes with the owners that .github/CODEOWNERS names for each.
All owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv, @zkronos73

update counters precompiled & helpers run-tests-zkasm
  main/pairings/testEcPairing.zkasm
  main/precompiled/identity.zkasm
  main/precompiled/pre-ecAdd.zkasm
  main/precompiled/pre-ecMul.zkasm
  main/precompiled/pre-ecPairing.zkasm
  main/precompiled/pre-ecrecover.zkasm
  tools/run-tests-zkasm.js
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

fixes & add ecPairing
  main/constants.zkasm
  main/pairings/halfPairingBN254.zkasm
  main/precompiled/identity.zkasm
  main/precompiled/pre-ecAdd.zkasm
  main/precompiled/pre-ecMul.zkasm
  main/precompiled/pre-ecPairing.zkasm
  main/precompiled/pre-ecrecover.zkasm
  main/precompiled/selector.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

update counters
  main/precompiled/pre-ecPairing.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

Verify merkle proof + renaimings + comments
  main/constants.zkasm
  main/decode/decode-change-l2-block.zkasm
  main/decode/decode-legacy.zkasm
  main/decode/decode-utils.zkasm
  main/decode/tx-decode.zkasm
  main/ecrecover/ecrecover.zkasm
  main/load-tx-rlp-utils.zkasm
  main/load-tx-rlp.zkasm
  main/main.zkasm
  main/opcodes/block.zkasm
  main/opcodes/crypto.zkasm
  main/process-change-l2-block.zkasm
  main/process-tx.zkasm
  main/utils.zkasm
  main/vars.zkasm
  test/ecrecover.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv, @zkronos73

first commit modexp
  main/modexp/modexp.zkasm
  main/modexp/modexp_A2C.zkasm
  main/modexp/modexp_mulmod.zkasm
  main/precompiled/pre-modexp.zkasm
  main/precompiled/selector.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

add audits
  audits/zkEVM-ROM-upgrade-Spearbit-30-May.pdf
  audits/zkEVM-engagement-3-Spearbit-6-April.pdf
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

WIP
  main/modexp/modexp.zkasm
  main/precompiled/pre-modexp.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

WIP
  main/modexp/modexp.zkasm
  main/precompiled/pre-modexp.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

WIP
  main/modexp/modexp.zkasm
  main/precompiled/pre-modexp.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

Receipt tree implementation
  main/constants.zkasm
  main/decode/decode-legacy.zkasm
  main/decode/tx-decode.zkasm
  main/main.zkasm
  main/opcodes/block.zkasm
  main/opcodes/calldata-returndata-code.zkasm
  main/opcodes/create-terminate-context.zkasm
  main/opcodes/flow-control.zkasm
  main/opcodes/logs.zkasm
  main/opcodes/stack-operations.zkasm
  main/precompiled/revert-precompiled.zkasm
  main/process-change-l2-block.zkasm
  main/process-tx.zkasm
  main/smt.zkasm
  main/touched.zkasm
  main/utils.zkasm
  main/vars.zkasm
  test/touched-assert.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

Fork id 6 implementation
  main/constants.zkasm
  main/load-change-l2-block.zkasm
  main/load-tx-rlp.zkasm
  main/main.zkasm
  main/opcodes/block.zkasm
  main/process-change-l2-block.zkasm
  main/process-tx.zkasm
  main/utils.zkasm
  main/vars.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

WIP
  main/modexp/modexp.zkasm
  main/modexp/modexp_A2C.zkasm
  main/modexp/modexp_mulmod.zkasm
  main/modexp/modexp_utils.zkasm
  main/precompiled/pre-modexp.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

update counters
  main/precompiled/pre-ecPairing.zkasm
  main/touched.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

Adding a comment to understand what I have and what I need to do
  main/modexp/modexp_laia.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

Adding an example on array treatment in zkasm
  main/modexp/array_example.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

Working on modexp
  main/modexp/helper.js
  main/modexp/modexp.zkasm
  main/modexp/modexp_EisOdd.zkasm
  main/modexp/modexp_compare.zkasm
  main/modexp/modexp_mod.zkasm
  main/modexp/testModexp.zkasm
  package.json
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

Starting a library on array ops
  main/modexp/array_arith/array_compare.zkasm
  main/modexp/array_arith/array_example.zkasm
  main/modexp/array_arith/testArrayArith.zkasm
  main/modexp/modexp_compare.zkasm
  package.json
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

First implementation of array sub
  main/modexp/array_arith/array_compare.zkasm
  main/modexp/array_arith/array_sub.zkasm
  main/modexp/array_arith/array_sub_trust.zkasm
  main/modexp/array_arith/testArrayArith.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

update package forkid-6
  package.json
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

Array sub working
  main/modexp/array_arith/array_sub.zkasm
  main/modexp/array_arith/array_sub_AGTB.zkasm
  main/modexp/array_arith/array_sub_BGTA.zkasm
  main/modexp/array_arith/array_sub_trust.zkasm
  main/modexp/array_arith/testArrayArith.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

Array mul working
  main/modexp/array_arith/array_karatsuba_mul.zkasm
  main/modexp/array_arith/array_long_mul.zkasm
  main/modexp/array_arith/array_short_mul copy.zkasm
  main/modexp/array_arith/testArrayArith.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

Fix counters
  counters/tests/opBLOCKHASH.zkasm
  main/process-change-l2-block.zkasm
  main/utils.zkasm
Owners: @ignasirv, @krlosMata, @laisolizq, @invocamanman

Div mod WIP
  main/modexp/array_arith/array_mul_karatsuba.zkasm
  main/modexp/array_arith/array_mul_long.zkasm
  main/modexp/array_arith/array_mul_short.zkasm
  main/modexp/array_arith/array_short_mul copy.zkasm
  main/modexp/array_arith/testArrayArith.zkasm
  main/modexp/modexp_mod.zkasm
  main/modexp/testModexp.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

Div mod WIP
  main/modexp/array_arith/array_div_mod.zkasm
  main/modexp/array_arith/testArrayDivMod.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

WIP modexp array
  main/modexp/modexp_utils.zkasm
  main/precompiled/pre-modexp.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

Div mod WIP
  main/modexp/array_arith/array_div_mod.zkasm
  main/modexp/array_arith/testArrayDivMod.zkasm
  package.json
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

WIP array utils
  main/modexp/array_arith/array_compare.zkasm
  main/modexp/array_arith/array_div_mod.zkasm
  main/modexp/array_arith/array_div_mod_long.zkasm
  main/modexp/array_arith/array_div_mod_short.zkasm
  main/modexp/array_arith/array_unshift.zkasm
  main/modexp/array_arith/testArrayUtils.zkasm
  main/modexp/helper.js
  package.json
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

Div mod array first version done
  main/modexp/array_arith/array_div_mod_long.zkasm
  main/modexp/array_arith/testArrayArith.zkasm
  main/modexp/array_arith/testArrayDivMod.zkasm
  main/modexp/array_arith/testArrayUtils.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

WIP
  main/modexp/modexp_utils.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

Working in array square
  main/modexp/array_arith/array_mod.zkasm
  main/modexp/array_arith/array_mul_long.zkasm
  main/modexp/array_arith/array_square.zkasm
  main/modexp/array_arith/testArrayArith.zkasm
  main/modexp/modexp_mulmod.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

Square finally working...
  main/modexp/array_arith/array_square.zkasm
  main/modexp/array_arith/testArrayArith.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

Working on making the library as much generic as possible
  main/modexp/array_arith/TODO.md
  main/modexp/array_arith/array_compare.zkasm
  main/modexp/array_arith/array_mul_karatsuba.zkasm
  main/modexp/array_arith/array_unshift.zkasm
  main/modexp/array_arith/testArrayUtils.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

All working except for modular division long
  main/modexp/array_arith/array_compare.zkasm
  main/modexp/array_arith/array_div_mod_long.zkasm
  main/modexp/array_arith/array_div_mod_short.zkasm
  main/modexp/array_arith/array_example.zkasm
  main/modexp/array_arith/array_mod.zkasm
  main/modexp/array_arith/array_mul_long.zkasm
  main/modexp/array_arith/array_mul_short.zkasm
  main/modexp/array_arith/array_square.zkasm
  main/modexp/array_arith/array_sub.zkasm
  main/modexp/array_arith/array_sub_AGTB.zkasm
  main/modexp/array_arith/array_sub_BGTA.zkasm
  main/modexp/array_arith/array_unshift.zkasm
  main/modexp/array_arith/testArrayArith.zkasm
  main/modexp/array_arith/testArrayDivMod.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

WIP
  main/modexp/array_arith/array_div_mod_long.zkasm
  main/modexp/array_arith/array_unshift.zkasm
  main/modexp/array_arith/testArrayDivMod.zkasm
  main/modexp/array_arith/testArrayUtils.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

Reorganization and array trim added
  main/modexp/array_lib/TODO.md
  main/modexp/array_lib/array_div_mod_long.zkasm
  main/modexp/array_lib/array_div_mod_normalize.zkasm
  main/modexp/array_lib/array_div_mod_short.zkasm
  main/modexp/array_lib/array_mod.zkasm
  main/modexp/array_lib/array_mul_karatsuba.zkasm
  main/modexp/array_lib/array_mul_long.zkasm
  main/modexp/array_lib/array_mul_short.zkasm
  main/modexp/array_lib/array_square.zkasm
  main/modexp/array_lib/array_sub.zkasm
  main/modexp/array_lib/array_sub_AGTB.zkasm
  main/modexp/array_lib/array_sub_BGTA.zkasm
  main/modexp/array_lib/testArrayArith.zkasm
  main/modexp/array_lib/testArrayDivMod.zkasm
  main/modexp/array_lib/utils/array_compare.zkasm
  main/modexp/array_lib/utils/array_trim.zkasm
  main/modexp/array_lib/utils/array_unshift.zkasm
  main/modexp/array_lib/utils/testArrayUtils.zkasm
  package.json
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

Revert batch on invalid changeL2Block tx
  main/utils.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

fix setBlockNum
  main/main.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

Working on helpers to compute modular division
  main/modexp/array_lib/utils/testArrayUtils.zkasm
  main/modexp/helper.js
  package.json
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

Array addition included
  main/modexp/array_lib/array_add.zkasm
  main/modexp/array_lib/array_add_AGTB.zkasm
  main/modexp/array_lib/array_div_mod_long.zkasm
  main/modexp/array_lib/testArrayArith.zkasm
  main/modexp/array_lib/utils/testArrayUtils.zkasm
  main/modexp/helper.js
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

Bug FOUND. Array div mod working
  main/modexp/array_lib/array_add_AGTB.zkasm
  main/modexp/array_lib/array_div_mod_long.zkasm
  main/modexp/array_lib/array_mul_long.zkasm
  main/modexp/array_lib/testArrayArith.zkasm
  main/modexp/array_lib/unused/array_div_mod_normalize.zkasm
  main/modexp/array_lib/utils/array_trim.zkasm
  main/modexp/array_lib/utils/testArrayUtils.zkasm
  main/modexp/helper.js
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

.github/CODEOWNERS:

# global owner
*                   @krlosMata @laisolizq @invocamanman @ignasirv

# ecrecover owner
/main/ecrecover     @zkronos73 @krlosMata

# counters folder owner
/counters/          @ignasirv @krlosMata

# tests owner
/test/              @laisolizq @krlosMata

# tools owner
/tools/             @laisolizq @krlosMata
