Repository 0xPolygonHermez/zkevm-rom, changes with the owners that .github/CODEOWNERS names for each.
All owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv, @zkronos73

add full test read-push
  test/performance/read-push.zkasm
  test/read-push.zkasm
  test/rotate.zkasm
  tools/run-tests-zkasm.js
Owners: @laisolizq, @krlosMata

add feature dependecies
  package.json
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

add some examples
  main/pairings/arith.zkasm
  main/pairings/double.zkasm
  main/pairings/test1.zkasm
  package.json
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

add helper example
  main/pairings/helper.js
  main/pairings/test1.zkasm
  package.json
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

Adding a constant files
  main/pairings/constants.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

add push0
  main/map-opcodes.zkasm
  main/opcodes/stack-operations.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

Start to work in the pairing
  main/pairings/addFpBN254.zkasm
  main/pairings/constants.zkasm
  main/pairings/mulFpBN254.zkasm
  main/pairings/pairing.zkasm
  main/pairings/test1.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

Keep working. I start to see the light at the end of the tunnel
  main/pairings/MSMTwistBN254.zkasm
  main/pairings/addFp2BN254.zkasm
  main/pairings/addPointBN254.zkasm
  main/pairings/constants.zkasm
  main/pairings/double.zkasm
  main/pairings/helper.js
  main/pairings/mulFp2BN254.zkasm
  main/pairings/mulFpBN254.zkasm
  main/pairings/pairing.zkasm
  main/pairings/test1.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

Reorganization and Fp2 arithmetic added
  main/pairings/FP2BN254/addFp2BN254.zkasm
  main/pairings/FP2BN254/invFp2BN254.zkasm
  main/pairings/FP2BN254/mulFp2BN254.zkasm
  main/pairings/FP2BN254/testFp2BN254.zkasm
  main/pairings/addFp2BN254.zkasm
  main/pairings/addPointBN254.zkasm
  main/pairings/helper.js
  package.json
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

Reorganization and Fp2 arithmetic added
  main/pairings/FP2BN254/addFp2BN254.zkasm
  main/pairings/FP2BN254/testFp2BN254.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

Reorganization of Point arith
  main/pairings/BN254/MSMTwistBN254.zkasm
  main/pairings/BN254/addPointBN254.zkasm
  main/pairings/BN254/testPointArithBN254.zkasm
  main/pairings/FP2BN254/testFp2ArithBN254.zkasm
  package.json
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

Point addition over Fp2 finally working
  main/pairings/BN254/addPointBN254.zkasm
  main/pairings/BN254/testPointArithBN254.zkasm
  main/pairings/FP2BN254/addFp2BN254.zkasm
  main/pairings/FP2BN254/invFp2BN254.zkasm
  main/pairings/FP2BN254/mulFp2BN254.zkasm
  main/pairings/FP2BN254/subFp2BN254.zkasm
  main/pairings/helper.js
  package.json
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

Added naive escalar multiplication and both subgroup checks
  main/pairings/BN254/MSMTwistBN254.zkasm
  main/pairings/BN254/addPointBN254.zkasm
  main/pairings/BN254/escalarMulBN254.zkasm
  main/pairings/BN254/testPointArithBN254.zkasm
  main/pairings/helper.js
  main/pairings/pairing.zkasm
  main/pairings/testPairingBN254.zkasm
  package.json
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

Some appropriate renaming
  main/pairings/BN254/addPointBN254.zkasm
  main/pairings/BN254/escalarMulBN254.zkasm
  main/pairings/BN254/testPointArithBN254.zkasm
  main/pairings/pairing.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

Adding Fp6 arithmetic
  main/pairings/FP2BN254/addFp2BN254.zkasm
  main/pairings/FP6BN254/addFp6BN254.zkasm
  main/pairings/FP6BN254/mulFp6BN254.zkasm
  main/pairings/FP6BN254/subFp6BN254.zkasm
  main/pairings/FP6BN254/testFp6ArithBN254.zkasm
  main/pairings/helper.js
  main/pairings/pairing.zkasm
  package.json
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

fix RLP data length
  main/load-tx-rlp.zkasm
  main/main.zkasm
  main/utils.zkasm
  main/vars.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

Addition and subtraction over Fp12 working fine
  main/pairings/FP12BN254/addFp12BN254.zkasm
  main/pairings/FP12BN254/mulFp12BN254.zkasm
  main/pairings/FP12BN254/subFp12BN254.zkasm
  main/pairings/FP12BN254/testFp12ArithBN254.zkasm
  main/pairings/FP6BN254/mulFp6BN254.zkasm
  main/pairings/FP6BN254/testFp6ArithBN254.zkasm
  package.json
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

Fp12 multiplication working properly
  main/pairings/FIXME.md
  main/pairings/FP12BN254/addFp12BN254.zkasm
  main/pairings/FP12BN254/mulFp12BN254.zkasm
  main/pairings/FP12BN254/subFp12BN254.zkasm
  main/pairings/FP12BN254/testFp12ArithBN254.zkasm
  main/pairings/FP6BN254/addFp6BN254.zkasm
  main/pairings/FP6BN254/mulFp6BN254.zkasm
  main/pairings/FP6BN254/subFp6BN254.zkasm
  main/pairings/FP6BN254/testFp6ArithBN254.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

update package
  package.json
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

review & update package
  main/load-tx-rlp.zkasm
  main/main.zkasm
  main/opcodes/stack-operations.zkasm
  main/utils.zkasm
  main/vars.zkasm
  package.json
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

Added optimized squaring in Fp12
  main/pairings/FP12BN254/squareFp12BN254.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

Added optimized squaring in Fp12
  main/pairings/FP12BN254/testFp12ArithBN254.zkasm
  main/pairings/pairing.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

Added correct line equations and more specific Fp2 arithmetic
  main/pairings/BN254/lineDiffPointsBN254.zkasm
  main/pairings/BN254/lineSamePointsBN254.zkasm
  main/pairings/BN254/testPointArithBN254.zkasm
  main/pairings/FP2BN254/escalarMulFp2BN254.zkasm
  main/pairings/FP2BN254/squareFp2BN254.zkasm
  main/pairings/FP2BN254/testFp2ArithBN254.zkasm
  main/pairings/helper.js
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

Added field isomorphism to change representation of Fp12 elements and first part of the Miller loop working
  main/pairings/BN254/lineDiffPointsBN254.zkasm
  main/pairings/BN254/lineSamePointsBN254.zkasm
  main/pairings/BN254/testPointArithBN254.zkasm
  main/pairings/pairing.zkasm
  main/pairings/testPairingBN254.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

Miller loop done but not working properly
  main/pairings/loopLengthBN254.zkasm
  main/pairings/pairing.zkasm
  main/pairings/testPairingBN254.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

Miller loop working
  main/pairings/FIXME.md
  main/pairings/pairing.zkasm
  package.json
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

Working on Fp6 arithmetic
  main/pairings/FIXME.md
  main/pairings/FP12BN254/inverseFp12BN254.zkasm
  main/pairings/FP6BN254/inverseFp6BN254.zkasm
  main/pairings/FP6BN254/squareFp6BN254.zkasm
  main/pairings/FP6BN254/testFp6ArithBN254.zkasm
  main/pairings/constants.zkasm
  main/pairings/pairing.zkasm
  main/pairings/testPairingBN254.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

fix comment ecrecover
  main/ecrecover/ecrecover.zkasm
Owners: @zkronos73, @krlosMata

update forkid 5
  main/constants.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

Fp12 inversion working
  main/pairings/FP12BN254/inverseFp12BN254.zkasm
  main/pairings/FP12BN254/testFp12ArithBN254.zkasm
  main/pairings/FP6BN254/inverseFp6BN254.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

update comment ecrecover & packages
  main/ecrecover/ecrecover.zkasm
  package.json
Owners: @zkronos73, @krlosMata, @laisolizq, @invocamanman, @ignasirv

Easy part of the final exp working properly
  main/pairings/FP12BN254/frob2Fp12BN254.zkasm
  main/pairings/FP12BN254/testFp12ArithBN254.zkasm
  main/pairings/pairing.zkasm
  main/pairings/testPairingBN254.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

Start to work in the first part of the final exp
  main/pairings/FIXME.md
  main/pairings/constants.zkasm
  package.json
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

naive exponentiation in Fp12 added
  main/pairings/FIXME.md
  main/pairings/FP12BN254/expFp12BN254.zkasm
  main/pairings/FP12BN254/testFp12ArithBN254.zkasm
  main/pairings/helper.js
  main/pairings/pairing.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

Bug found by Feli fixed about the RETUN in the same line as RR
  main/pairings/BN254/lineDiffPointsBN254.zkasm
  main/pairings/FP12BN254/addFp12BN254.zkasm
  main/pairings/FP12BN254/expFp12BN254.zkasm
  main/pairings/FP12BN254/frob2Fp12BN254.zkasm
  main/pairings/FP12BN254/inverseFp12BN254.zkasm
  main/pairings/FP12BN254/mulFp12BN254.zkasm
  main/pairings/FP12BN254/squareFp12BN254.zkasm
  main/pairings/FP12BN254/subFp12BN254.zkasm
  main/pairings/FP6BN254/addFp6BN254.zkasm
  main/pairings/FP6BN254/inverseFp6BN254.zkasm
  main/pairings/FP6BN254/mulFp6BN254.zkasm
  main/pairings/FP6BN254/squareFp6BN254.zkasm
  main/pairings/FP6BN254/subFp6BN254.zkasm
  main/pairings/pairing.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

Adding first and third frobenius operators
  main/pairings/FP12BN254/frob3Fp12BN254.zkasm
  main/pairings/FP12BN254/frobFp12BN254.zkasm
  main/pairings/FP12BN254/testFp12ArithBN254.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

Pairing working
  main/pairings/FP12BN254/frob3Fp12BN254.zkasm
  main/pairings/FP12BN254/frobFp12BN254.zkasm
  main/pairings/FP12BN254/testFp12ArithBN254.zkasm
  main/pairings/pairing.zkasm
  package.json
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

Bilinearity test passing, which means that the pairing is well-computed :)
  main/pairings/testPairingBN254.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

Minor reorg
  main/pairings/BN254/addPointBN254.zkasm
  main/pairings/BN254/testPointArithBN254.zkasm
  main/pairings/FP2BN254/addFp2BN254.zkasm
  main/pairings/FPBN254/addFpBN254.zkasm
  main/pairings/FPBN254/mulFpBN254.zkasm
  main/pairings/pairing.zkasm
  main/pairings/testPairingBN254.zkasm
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

Working on soundness
  main/pairings/FP2BN254/addFp2BN254.zkasm
  main/pairings/FP2BN254/subFp2BN254.zkasm
  main/pairings/FPBN254/mulFpBN254.zkasm
  main/pairings/FPBN254/subFpBN254.zkasm
  main/pairings/FPBN254/testFpArithBN254.zkasm
  package.json
Owners: @krlosMata, @laisolizq, @invocamanman, @ignasirv

.github/CODEOWNERS:

# global owner
*                   @krlosMata @laisolizq @invocamanman @ignasirv

# ecrecover owner
/main/ecrecover     @zkronos73 @krlosMata

# counters folder owner
/counters/          @ignasirv @krlosMata

# tests owner
/test/              @laisolizq @krlosMata

# tools owner
/tools/             @laisolizq @krlosMata
